.name{
    text-align: center;
    color:black;
    font-family : 'Times New Roman', Times, serif ;
    font-size: 20px;
}
.Main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   border: 5px dashed black;
  padding: 35px;
  background: rgb(238, 238, 174);
  background-clip: content-box;
  margin-top: 2cm;
  margin-bottom: 2cm;
  margin-right: 5cm;
  margin-left: 5cm;
}
.photo {
    border-radius: 8px;
  }
.address {
    text-align: center;
    color:black;
    font-family : 'Times New Roman', Times, serif ;
    font-size: 16px;
}